
<!doctype html>
<html lang="en">

<head>

<!-- <link rel="shortcut icon" href="http://www.example.com/myicon.ico"/> -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>


<link rel="stylesheet" href="/static/css/main.css">


<style type="text/css">
p {
   font-size: 16px;
}
</style>





    <title>Printr</title>



</head>







<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Printr</a></li>
        <li><a href="https://docs.google.com/presentation/d/e/2PACX-1vRo7ghJMRsvhrBhq259ygOZLLmNfw5WfG2ZJVbq35BVPATKK19BTMAkHaztzlr9YMpRUCgoA8wBuXV0/pub?start=false&loop=false&delayms=30000">About Me</a></li>
        <li><a href="http://www.github.com/rmillin/animal-tracks">Printr Github Page</a></li>
        <li><a href="http://www.google.com"> How does it work? <span class="sr-only">(current)</span></a></li>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<br><br>

 <div class="container">
    <div class="starter-template">
        
      <img src='../static/images/decor/printr_logo.png' alt="Unavailable image" border=3 height=100>   
    
    </div>
</div>

    <div class="container">
    <div class="starter-template">
        <h2>Printr</h2>
        <p>Please select a photo of a track to determine which animal most likely left it.</p> <p>The track should be centered and fill most of the image.</p>
    </div>

    <div class = "container">

            <form method = "POST" action='/' enctype = "multipart/form-data">
              <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Identify</button>
              </span>
              <input type = "file" name = "file" placeholder="Upload art...">
            </div><!-- /input-group -->           
          </form>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

  </div> <!-- /.container-->

    <div class="container">
      <div class="starter-template">
      </div>

     </div><!-- /.container -->

    <div class="container">
     <div class="starter-template">
        <h2></h2>
 
     </div><!-- /.container -->

      
      <div class="container">
      <div class="starter-template">
        <h3>This print was most likely left by a feline</h3>

      </div>


      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="../static/js/bootstrap.min.js"></script>


     </div><!-- /.container -->


      
    <div class="container">
      <div class="starter-template">
      </div>

     </div><!-- /.container -->

   <div class="container">
      <div class="starter-template">
        <h3></h3>
        <p class="lead">.<br> </p>
      </div>

      <table class="table table-hover">
      <tr>
          <th>cougar</th>
            
          <th>bobcat</th>
            
          <th>lynx</th>
            
          </tr>
      
        <tr> 
            <td><img src=../static/images/cougar2.jpg alt="Unavailable image" border=3 height=200></td>
            
            <td><img src=../static/images/bobcat2.jpg alt="Unavailable image" border=3 height=200></td>
            
            <td><img src=../static/images/lynx2.jpg alt="Unavailable image" border=3 height=200></td>
            
          </tr>  
        <tr> 
            <td><img src=../static/images/tracks/cougar-mtn-lion-tracks-teddy-roosevelt-np-north-unit-nd-img_0030214_shrink.jpg alt="Unavailable image" border=3 height=200></td>
            
            <td><img src=../static/images/tracks/bobcat-tracks-002_shrink.jpg alt="Unavailable image" border=3 height=200></td>
            
            <td><img src=../static/images/tracks/lynx_rufus_-_bobcat_tracks.jpg alt="Unavailable image" border=3 height=200></td>
            
          </tr>  
          
      </table>


     </div><!-- /.container -->      
      
     
      
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="static/js/bootstrap.min.js"></script>

 