{% extends "layout.html" %}

{% block head %}

    <title>Who was here?</title>

{% endblock %}

{% block body %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Who Was Here?</a></li>
        <li><a href="https://docs.google.com/presentation/d/e/2PACX-1vRo7ghJMRsvhrBhq259ygOZLLmNfw5WfG2ZJVbq35BVPATKK19BTMAkHaztzlr9YMpRUCgoA8wBuXV0/pub?start=false&loop=false&delayms=30000">About Me</a></li>
        <li><a href="http://www.github.com/rmillin/animal-tracks">"Who Was Here?" Github Page</a></li>
        <li><a href="http://www.google.com"> How does it work? <span class="sr-only">(current)</span></a></li>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<br><br>

 <div class="container">
    <div class="starter-template">
        <h2>Who was here?</h2>
        <p>Please select a photo of a track to determine which animal most likely left it.</p>
    </div>

    <div class = "container">

            <form method = "POST" action='/' enctype = "multipart/form-data">
              <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Identify</button>
              </span>
              <input type = "file" name = "file" placeholder="Upload art...">
            </div><!-- /input-group -->           
          </form>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

  </div> <!-- /.container-->

    <div class="container">
      <div class="starter-template">
      </div>

     </div><!-- /.container -->

    <div class="container">
     <div class="starter-template">
        <h2></h2>
 
     </div><!-- /.container -->

      
      <div class="container">
      <div class="starter-template">
        <h3>This print was most likely left by {{the_result}}</h3>

      </div>


      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="../static/js/bootstrap.min.js"></script>


     </div><!-- /.container -->


      
    <div class="container">
      <div class="starter-template">
      </div>

     </div><!-- /.container -->

   <div class="container">
      <div class="starter-template">
        <h3></h3>
        <p class="lead">.<br> </p>
      </div>

      <table class="table table-hover">
      <tr>{% for creature_name in creature_names %}
          <th>{{creature_name}}</th>
            {% endfor %}
          </tr>
      
        <tr> {% for image_file in image_files %}
            <td><img src={{ image_file }} alt="Unavailable image" border=3 height=200></td>
            {% endfor %}
          </tr>  
        <tr> {% for track_path in track_paths %}
            <td><img src={{ track_path }} alt="Unavailable image" border=3 height=200></td>
            {% endfor %}
          </tr>  
          
      </table>


     </div><!-- /.container -->      
      
     
      
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="static/js/bootstrap.min.js"></script>

 {% endblock %}
